@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.material-symbols-outlined{
    color: white;
    cursor: pointer;
}

body,
html {
    padding: 0;
    margin: 0;
    background-color: black;
}

* {
    font-family: 'Roboto', sans-serif;
}

h3,
h2,
h1 {
    font-family: 'Montserrat', sans-serif;
}

#header {
    height: 60px;
    width: calc(100% - 80px);
    padding: 0 40px;
    display: flex;
    top:0;
    z-index: 9999;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: all .4s ease;
}


#menu-btn-sert-1 {
    width: 26px;
    height: 3px;
    background-color: white;
    display: block;
    transition: all .4s ease;
}

#header-menu-button {
    cursor: pointer;
}

#menu-btn-sert-2 {
    width: 26px;
    height: 3px;
    background-color: white;
    display: block;
    margin-top: 8px;
    transition: all .4s ease;
}

.menu-btn1-aberta {
    transform: rotate(45deg);
}

.menu-btn2-aberta {
    margin-top: -2px !important;
    transform: rotate(-45deg);
}

img {
    max-width: 50px;
    max-width: 50px;
}

#header-nav {
    top: 60px;
    left: -100%;
    display: block;
    position: fixed;
    color: white;
    background-color: black;
    z-index: 9998;
    padding: 18px 68px 24px 46px;
    min-height: 40px;
    min-width: 100px;
    transition: all .4s ease;
}

#header-nav.aberta {
    left: 0 !important;
}

.rolou {
    background-color: black !important;
}

.img-section {
    padding: 0 50px;
    height: 100vh;
    width: calc(100% - 100px);
}

.div-img-section {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.titulo-padrao {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.5rem;
    line-height: 1.1em;
    text-align: left;
    color: #f1ecc9;
    margin: 0;
    text-transform: uppercase;
}

.sub-texto {
    line-height: 1.44em;
    max-width: 24em;
    margin-top: 20px;
    color: #f1ecc9;
    margin-bottom: 0;
}

.botao {
    margin-top: 40px;
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 700;
    font-size: var(--font-16);
    line-height: 1em;
    color: #f1ecc9;
    text-transform: uppercase;
    background-image: url('../midia/backgrounds/background-botoes.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-color: rgba(0, 0, 0, 0);
    padding: 1.5em 1.5625em 1em;
    transition: color .3s;
    transition: all 250ms ease;
}
.botao:hover{
    transform: scale(1.2);
}

.titulo-pequeno {
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 1em;
    color: #ea2230;
    margin: 0 0 1em;
    text-transform: uppercase;
}

.text-section {
    width: calc(100% - 94px);
    padding: 47px 47px 0 47px;
}

.footer-arrow {
    padding-top: 200px;
    float: left;
    width: 100%;
    overflow: hidden;
    line-height: 0;

}

.footer-arrow svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
    background-color: #000000;
}

.footer-arrow .shape-fill {
    fill: #f4f4f4;
    ;
}

.main_footer {
    background-color: #0f0e0e;
    color: #fff;
    font-size: 1em;
}

.main_footer .content {
    float: left;
    width: 80%;
    margin: 0 10%;
    padding: 5em 0;
}

.container {
    float: left;
    width: 100%;
}

.colfooter {

    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 2em;
}

.colfooter ul {
    width: 100%;
    float: left;
}

.colfooter ul li {
    padding: 0.2em 0em;
}

.colfooter ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    transition: 0.2s;
}

.colfooter ul li a i {
    font-size: 0.5em;
}

.colfooter ul li a:hover {
    color: #fffb00;
}

.colfooter .titleFooter {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    color: #ffffff;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px #000000 solid;

}

.colfooter p {

    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 1em;
    height: 25px;

}

.colfooter .redesocial {

    color: #ffffff;
    float: left;
    text-decoration: none;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    transition: 0.2s;

}

.colfooter .redesocial:hover {

    color: #fffb00;
    transition: 0.2s;

}

.main_footer_copy {
    background-color: #000000;
    width: 100%;
    float: left;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 1.5em 0em;
}

.main_footer_copy p {
    font-size: 1em;
    color: #ffffff;
    height: 20px;
}

.main_footer_copy .m-b-footer {
    margin-bottom: 0.5em;
}

.main_footer_copy .by {
    font-size: 0.96em;
}

.main_footer_copy .by a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
}

.main_footer_copy .by a:hover {
    text-decoration: underline;
    color: #fffb00
}

.main_footer_copy .by i {
    font-size: 0.96em;
    margin-right: 3px;
    color: #000000;
}


@media (min-width:48em) {

    .colfooter {
        width: 30%;
        margin-right: 5%;
        margin-bottom: 0;
    }

    .colfooter:nth-of-type(3n+0) {
        margin-right: 0;
        border-right: 0;
    }

    .footer-arrow svg {
        height: 50px;
    }

}

@media (min-width:60em) {
    .footer-arrow svg {
        height: 70px;
    }
}

@media (min-width:80em) {
    .footer-arrow svg {
        height: 90px;
    }

}

#footer-social {
    display: flex;
    flex-direction: row;
}

.icon-social-img {
    height: 50px;
}
.lista-item-div{
    padding: 2.22rem 2.22rem 1.11rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 3;
    width: 330px;
    height: 400px;
    background-size: cover;
}
.titulo-item{
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.5rem;
    line-height: 1.1em;
    text-align: center;
    color: white;
    margin: 0;
    text-transform: uppercase;
}
.tabela-pizzas{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 830px;
    justify-content: center;
    margin: auto;
}
.active{
    color: #ea2230;
}
#container-referencias{
    margin: 0;
    padding-top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

#container-referencias a{
    text-decoration: none;
    list-style:none;
    color: white;
    padding: 1rem;
}
.texto-h{
    font-size: 60px;
}
.texto-p{
    font-size: 40px;
}
#header-nav ul li a{
    font-size: 45px;
}
@media screen and (max-width: 800px) {
    .texto-h{
        font-size: 40px;
    }
    .texto-p{
        font-size: 20px;
    }
    #header-nav ul li a{
        font-size: 30px;
    }
}