@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
h3, h2, h1{
    font-family: 'Montserrat', sans-serif;
}

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#header{
    background-color: white !important;
    position: fixed;
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 10px rgb(54 64 67 / 50%);
    justify-content: center;
}

#header-logo-div{
    padding-left: 25px;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}

#header-logo{
    width: 45px;
    height: 45px;
}
.gray-section{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    border: 30px transparent solid;
    border-left: none;
    border-right: none;
    width: 100%;
    min-height: 150px;
    background: url('midia/backgrounds/gray-background.png');
    background-size: cover;
}
#restaurante{
    height: 400px;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#restaurante-img{
    width: 100%;
    height: 80%;
    border: none;
    object-fit: cover;
}
#restaurante-div{
    border: none !important;
}

.white-section{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black !important;
    border: 25px transparent solid;
    width: 80%;
    min-height: 150px;
    margin: auto;
    background-color: white;
  
}
#firstsec{
    padding-top: 64px;
}
#header-nav-ul{
    list-style: none;
    display: flex;
}

.border-depois{
    border-right: 1px solid rgba(0, 0, 0, 0.527);

}
.header-nav-ul-li{
    height: 30px;
    padding: 0 25px;
    display: flex;
    align-items: center;
}
.header-nav-ul-li-a{
    transition: transform 0.2s;
    text-decoration: none;
    color: black;
}
.header-nav-ul-li-a:hover{
    cursor: pointer;
    transform: scale(1.1);
    color:#ed3237 1;
}
#pag-ativa{
    cursor: default !important;
    transform: scale(1.1);
    color:#ed3237 !important;
} 
.text-section{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black !important;
    width: 70%;
    margin: auto;
    background-color: white;
}
#footer{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    border: 30px transparent solid;
    width: 100%;
    border-left: none;
    border-right: none;
    min-height: 150px;
    background-color: #444444;
}