@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body, html {
    padding: 0;
    margin: 0;
    background-color: black;
    height: 2000px;
}

*{
    font-family: 'Roboto', sans-serif;
}
h3, h2, h1{
    font-family: 'Montserrat', sans-serif;
}

#header{
    height: 60px;
    width: calc(100% - 80px);
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: all .4s ease;
}


#menu-btn-sert-1{
    width: 26px;
    height: 3px;
    background-color: white;
    display: block;
    transition: all .4s ease;
}
#header-menu-button{
    cursor: pointer;
}

#menu-btn-sert-2{
    width: 26px;
    height: 3px;
    background-color: white;
    display: block;
    margin-top: 8px;
    transition: all .4s ease;
}
.menu-btn1-aberta {
    transform: rotate(45deg);
}
.menu-btn2-aberta {
    margin-top: -2px !important;
    transform: rotate(-45deg);
}
img{
    max-width: 50px;
    max-width: 50px;
}
#header-nav{
    top: 60px;
    left: -100%;
    display: block;
    position: fixed;
    background-color: black;
    z-index: 9998;
    padding: 18px 68px 24px 46px;
    min-height: 40px;
    min-width: 100px;
    transition: all .4s ease;
}
#header-nav.aberta{
    left: 0 !important;
}
.rolou{
    background-color: black !important;
}
.img-section{
    padding: 0 50px;
    height: 100vh;
    width: calc(100% - 100px);
}
.div-img-section{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.titulo-padrao{
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.5rem;
    line-height: 1.1em;
    text-align: left;
    color: #f1ecc9;
    margin: 0;
    text-transform: uppercase;
}
.sub-texto{
    line-height: 1.44em;
    max-width: 24em;
    margin-top: 20px;
    color: #f1ecc9;
    margin-bottom: 0;
}
.botao{
    margin-top: 40px;
    display: inline-flex;
    font-family: sans-serif;
    font-weight: 700;
    font-size: var(--font-16);
    line-height: 1em;
    color: #f1ecc9;
    text-transform: uppercase;
    background-image: url('midia/backgrounds/background-botoes.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-color: rgba(0,0,0,0);
    padding: 1.5em 1.5625em 1em;
    transition: color .3s;
}
.titulo-pequeno{
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 1em;
    color: #ea2230;
    margin: 0 0 1em;
    text-transform: uppercase;
}
.text-section{
    width: calc(100% - 94px);
    padding: 47px 47px 0 47px;
}